.layout {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

.screen {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: repeat(11, 60px);
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 150;
}

.screen .sq {
  background-color: #db40ff;
}

.contentLoad {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadText {
  color: #1f1340;
  font-size: 18px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 24px;
}

.load {
  font-size: 24px;
  display: grid;
  grid-template-columns: 40px 40px;
  gap: 4px;
  z-index: 200;
}

.load div {
  border-radius: 4px;
  background: #1f1340;
  width: 40px;
  height: 40px;
}
