.personalProjectsExternalLink {
  /* border: 2px solid red; */
  position: absolute;
  top: calc(100% - 20px);
  right: -20px;
  z-index: 50;
}

.personalProjectsExternalLink:hover .contentIconExLinkProjects {
  /* transform: translate(-7px, 7px); */
}

.personalProjectsExternalLink:hover .contentIconGithubProjects {
  /* transform: translate(7px, -7px); */
}

.contentIconExLinkProjects {
  --x: 0;
  --y: 0;
  /* border: 2px solid blue; */
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  transform: translate(var(--x), var(--y));
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.contentIconExLinkProjects {
  background-color: var(--accent-color);
  position: relative;
  z-index: 5;
}
