.contentButton {
  border-radius: 8px;
  background: #1f1340;
  align-self: flex-start;
  position: relative;
  overflow: hidden;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  position: relative;
  z-index: 10;
}

.button a {
  padding: 1rem 1.5rem;
}

.button.contactButton {
  color: #ffffff;
  padding: 1rem 1.5rem;
}

.contentButton::before {
  content: "";
  border-radius: 50%;
  background: var(--accent-color);
  position: absolute;
  top: -150px;
  left: -150px;
  width: 400px;
  height: 400px;
  opacity: 1;
  transform: scale(0);
  transform-origin: top left;
  transition: all ease 0.8s;
}

.contentButton:hover::before {
  transform: scale(1);
}
