.titleSections {
  color: #ffffff;
  font-size: var(--title-font-section-size);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
  opacity: 0.9;
}

.appContentFooterFormContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 3rem;
}

.appFormPD,
.appFormPDReply {
  color: #292929;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  max-width: 70ch;
}

.appFormPD {
  font-size: 18px;
}

.appFormPDReply {
  text-align: center;
  margin-top: 3rem;
}

.wrapperForm {
  border-radius: 16px;
  padding: 4vh 3vw;
  width: 100%;
}

.wrapperForm {
  background-color: #ffffff;
}

.formContact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.formContact .contentButtonSendMsg {
  border-radius: 50px;
  display: flex;
  align-self: flex-end;
  position: relative;
  box-shadow: 2px 4px 12px rgb(30 19 61 / 40%);
  background-color: var(--accent-color);
  overflow: hidden;
}

.contentInput {
  display: flex;
  flex-direction: column;
  min-height: 106px;
  /* margin-bottom: 8px; */
}

.contentInput:nth-child(3) {
  min-height: 196px;
}

.contentInput label,
.contentInput span {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
}

.formContact input {
  border: none;
  border-radius: 4px;
  background-color: rgba(182, 182, 182, 0.308);
  font-size: 1.1rem;
  height: 48px;
  margin-bottom: 4px;
  padding: 0.5rem 1rem;
}

.formContact textarea {
  border: none;
  border-radius: 8px;
  background-color: rgba(182, 182, 182, 0.308);
  font-size: 1.1rem;
  margin-bottom: 4px;
  padding: 0.5rem 1rem;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #6d7499;
}

.contentButtonSendMsg {
  display: flex;
  justify-content: flex-end;
}

.wrapperButtonForm {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  width: 100%;
}

.contentButtonForm {
  width: 100%;
  text-align: center;
}

.statusMailSend {
  border-radius: 30px;
  color: var(--title-dark-color);
  display: block;
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 500;
  position: absolute;
  width: 250px;
  bottom: 120%;
  opacity: 0;
  text-align: center;
  transition: all linear 0.3s;
}

.statusMailSend.send {
  opacity: 1;
}

.contentButtonForm::before {
  content: "";
  border-radius: 50px;
  background-color: #683edb;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: all ease-in 0.3s;
}

.contactButton {
  background: none;
  border-radius: 50px;
  color: var(--body-color);
  cursor: pointer;
  font-size: var(--text-button-big);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  padding: 0.6rem 1.8rem;
  position: relative;
  z-index: 10;
}

.contentSocial {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialItem a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  color: var(--title-dark-color);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 1vh;
}

.wrapperPadding {
  position: relative;
}

.wrapperPadding:last-child::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
}

.required {
  color: #bf1650;
  /* height: 5vh; */
  font-size: 14px;
}

.show {
  opacity: 1;
}

.contentCopyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  /* gap: 8px; */
}

.copyright {
  color: var(--primary-text);
  font-size: 14px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

@media only screen and (min-width: 860px) {
  .wrapperPadding {
    padding: 0 5vw;
  }

  .wrapperForm {
    width: 70%;
  }
  .wrapperButtonForm {
    width: auto;
  }

  .contactButton {
    font-size: var(--text-button-small);
  }
}
