.wrapperPadding {
  /* border: 1px solid rgb(0, 255, 34); */
  padding: 0rem 5vw 0rem 5vw;
  display: flex;
  justify-content: center;
}

.wrapperPadding:not(.wrapperPadding:first-child) {
  padding-top: 120px;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.appContentHero {
  /* border: 1px solid red; */
  background: url("../../assets/render.webp");
  background-size: cover;
  min-height: 100vh;
  padding-top: 40px;
}

.appLeftContentHero {
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  z-index: 40;
}

.appLeftContentHeroRole {
  display: flex;
  flex-direction: column;
  height: 50%;
  position: relative;
}

.role {
  color: var(--primary-text);
  font-size: var(--title-font-hero-size);
  font-family: var(--font-family);
  font-weight: 800;
  letter-spacing: var(--letter-spacing);
}

.subTitleRole {
  color: var(--primary-text);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  max-width: 500px;
  margin-top: 1.5rem;
}

.contentButtonContact {
  display: flex;
  align-self: flex-start;
  position: relative;
  margin-top: 2.5rem;
}

.link.hero,
.link.heroViewWork {
  color: #e7e8ef;
  display: block;
}

.appRightContentHero {
  /* display: none; */
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 20;
}

.appRightContentHeroImg {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.appRightContentHeroImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wordsHero {
  color: var(--light-prymary-color-hero);
  display: block;
  font-family: var(--title-font);
  font-weight: 600;
  position: absolute;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  transform: skew(-15deg);
  opacity: 0.1;
  z-index: 10;
}

.wordsHero.top {
  color: var(--light-prymary-color-hero);
  top: -50px;
  right: 150px;
  font-size: calc(1vw + 0.6em);
}

.wordsHero.topRight {
  top: 0;
  right: 0;
  font-size: calc(1vw + 0.5em);
}

.wordsHero.rightMiddle {
  top: 30%;
  left: -10%;
  font-size: calc(1vw + 3em);
}

.wordsHero.bottomRight {
  bottom: 0;
  right: 5%;
  font-size: calc(1vw + 0.8em);
}

.wordsHero.bottomLeft {
  bottom: -80vh;
  left: 30vw;
  font-size: calc(10vw + 1em);
  z-index: 50;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}

.appContentScrollArrow {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(100vh - 40px);
  margin-left: 3rem;
}

.appContentScrollArrow svg {
  position: absolute;
  /* top: 140px; */
}

.contentCircleText {
  position: absolute;
  transition: all ease 0.3s;
}

.circleText {
  color: var(--body-color);
  /* color: #292929; */
  font-size: 14px;
  text-transform: uppercase;
}

.scrollBack {
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 1;
  position: relative;
  z-index: 5;
}

.scrollBack img {
  width: 100%;
  height: 100%;
}

.backgroundSectionLeft {
  /* border: 2px solid red; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
}

.backgroundSectionLeft img {
  height: auto;
  min-width: 50%;
  min-height: 100%;
}

/* projects */

.projectsSection {
  /* border: 1px solid red; */
  background: linear-gradient(#1f1340, #5836b5);
  position: relative;
}

.contentProject {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 120px;
  position: relative;
  margin-top: 80px;
}

.appContentPersonalProjectsHeader {
  color: var(--primary-text);
}

.spanWorkName {
  position: relative;
  z-index: 10;
}

.titleSections {
  color: #ffffff;
  font-size: var(--title-font-section-size);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.h2WorkName {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 15vw;
  margin-top: 0.5rem;
}

.wrapperAppContentIDoWork {
  /* border: 2px solid rgb(102, 8, 142); */
  position: relative;
}
/* services */

.serviceSection {
  /* border: 1px solid red; */
  background: #5836b5;
}

.wrapperServices {
  /* border: 2px solid rgb(51, 255, 51); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 4px;
  margin-top: 80px;
}

.servicesCard {
  /* border: 2px solid red; */
  border-radius: 16px;
  background-color: #1f1340;
  padding: 1.5rem;
  position: relative;
  /* margin-bottom: 16px; */
  min-height: 22rem;
  z-index: 10;
}

.appContentTitleIDoWork {
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
}

.appContentTitleIDoWorkSubTitle {
  color: #ffffff;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.wrapperMobileFeature {
  /* border: 2px solid black; */
  margin-top: 120px;
}

.wrapperMobileSecurity {
  margin-top: 120px;
}

.featureHeader {
  color: #ffffff;
  font-size: 24px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  text-align: center;
  margin-bottom: 40px;
}

.featureAnimation {
  /* border: 2px solid black; */
  /* border-radius: 16px; */
  /* background-color: #ac8fff; */
  /* width: 100%; */
  /* max-width: 600px; */
  height: 400px;
}

/* benefitsSection */

.wrapperMobileBenefits {
  /* border: 1px solid red; */
  margin-bottom: 48px;
}
.benefitsSection {
  /* border: 1px solid red; */
  display: block;
  background: linear-gradient(#5836b5, #1f1340);
  padding-bottom: 24px;
  position: relative;
}

.featureAnimation img {
  width: 100%;
  height: 100%;
}

.youGetDescription {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.wrapperBenefits {
  /* border: 2px solid red; */
  margin-top: 48px;
}

.benefitsHeader {
  color: #ffffff;
  font-size: 24px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin: 0px 0 24px 0;
}

.benefitsCard {
  border: 2px solid #ac8fff;
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgba(219, 64, 255, 0.45) -287.11%,
    rgba(219, 64, 255, 0) 111.17%
  );

  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  padding: 1.5rem;
  position: relative;
  margin-bottom: 48px;
}

.contentSquare {
  border: 1px solid red;
  display: none;
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 100%;
  transform: rotate(45deg);
}

/* process */
.processSection {
  background-color: #ffffff;
}

.processTitle {
  color: var(--title-dark-color);
}

.processDescription {
  color: var(--title-dark-color);
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.cardProcess {
  /* border: 2px solid red; */
  border-radius: 16px;
  background-color: #3e2680;
  padding: 1.5rem;
  position: relative;
  /* margin-bottom: 16px; */
  min-height: 22rem;
  z-index: 10;
}

.contentCircleBlur {
  /* border: 2px solid red; */
  position: absolute;
  top: -25px;
  left: 50%;
  width: 100px;
  height: 100px;
}

.circleBlur {
  background-color: #7c4dff;
  border-radius: 50%;
  display: block;
  /* position: absolute;
  top: -230px;
  left: 20%; */
  width: 100px;
  height: 100px;
  /* opacity: 0; */
}

.circleBlurGrey {
  background-color: #e7e8ef;
  border-radius: 0%;
  position: absolute;
  top: 0;
  left: 0;
}

.contentSvgIDoWork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* footer ///////////////// */

.headerContact {
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.headerContact h4 {
  font-family: var(--title-font);
  font-size: calc(1vw + 1em);
  letter-spacing: var(--letter-spacing);
}

.appContentFooterFormContact {
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh;
  position: relative;
}

.wrapperForm {
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  padding: 4vh 3vw;
  width: 100%;
}

.formContact {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.formContact input {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact textarea {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #6d7499;
}

.formContact span {
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.contentButtonSendMsg {
  display: flex;
  justify-content: flex-end;
}

.contentSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  font-family: var(--title-font);
  margin-top: 1vh;
}

.wrapperPadding {
  /* position: relative; */
}

@media only screen and (min-width: 860px) {
  .appLeftContentHero {
    /* padding-top: 4rem; */
  }

  .appLeftContentHeroRole {
    justify-content: start;
  }

  .contactButton {
    font-size: var(--text-button-small);
  }

  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: none;
    opacity: 1;
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
    max-width: 100%;
  }

  .lineRightAbout,
  .lineBottomAbout,
  .lineLeftAbout {
    opacity: 0.1;
  }

  .pDescription {
    font-size: 18px;
  }

  .contentColl {
    /* width: 80%; */
  }

  .contentCollImg {
    /* border: 1px solid blue; */
    /* display: flex; */
    width: 80%;
  }

  .wrapperContentChallenge {
    flex-direction: row;
  }

  .appLeftContentChallenge {
    width: 60%;
  }

  .appRightContentChallenge {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .appRightContentChallengeImg {
    width: 35%;
    height: 100%;
  }

  .wrapperCodeImg {
    width: 70%;
  }

  .wrapperCodeImg img {
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  }

  .wrapperPadding {
    /* padding: 0 5vw; */
  }

  .wrapperForm {
    width: 80%;
  }

  .socialItem {
    width: 5%;
  }
}

@media only screen and (min-width: 1280px) {
  .appLeftContentHero {
    width: 70%;
  }

  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: block;
  }

  .appContentAboutMeDescription {
    /* border: 1px solid red; */
    flex-direction: row;
    gap: 6rem;
    margin-top: 1rem;
    position: relative;
  }

  .contentCollImg {
    width: 100%;
  }
}

@media only screen and (min-width: 2224px) {
}
