.wrapperPadding {
  padding: 0vw 5vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.appContentHero {
  background: url("../../assets/render.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0px 100px;
  min-height: 100vh;
  padding-top: 88px;
  padding-bottom: 88px;
  position: relative;
}

.spanMaskStyle {
  background: #db40ff;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 25px;
}
.spanMaskStyle:nth-child(1) {
  left: 100px;
  top: 0px;
  opacity: 0.5;
}
.spanMaskStyle:nth-child(2) {
  left: 150px;
  top: 50px;
  opacity: 0.4;
}
.spanMaskStyle:nth-child(3) {
  left: 250px;
  top: 150px;
  opacity: 0.6;
}
.spanMaskStyle:nth-child(4) {
  left: 350px;
  top: 50px;
  opacity: 0.3;
}
.spanMaskStyle:nth-child(5) {
  left: 500px;
  top: 200px;
  opacity: 0.5;
}
.spanMaskStyle:nth-child(6) {
  left: 450px;
  top: 100px;
  opacity: 0.5;
}
.spanMaskStyle:nth-child(7) {
  left: 600px;
  top: 50px;
  opacity: 0.4;
}

.projectsSection,
.serviceSection,
.benefitsSection {
  padding-top: 120px;
  position: relative;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.role {
  color: var(--primary-text);
  font-size: var(--title-font-hero-size);
  font-family: var(--font-family);
  font-weight: 800;
  letter-spacing: var(--letter-spacing);
}

.subTitleRole {
  color: var(--primary-text);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  max-width: 500px;
  margin-top: 1.5rem;
}

.contentButtonContact {
  display: flex;
  align-self: flex-start;
  position: relative;
  margin-top: 2.5rem;
}

.link.hero {
  color: #ffffff;
  display: block;
}

/* projects ------------------  */

.projectsSection {
  background: linear-gradient(#1f1340, #5836b5);
  position: relative;
}

.appContentPersonalProjectsHeader {
  color: var(--primary-text);
}

.contentProject {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4px;
  position: relative;
  margin-top: 24px;
}

.titleSections {
  color: #ffffff;
  font-size: var(--title-font-section-size);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  opacity: 0.9;
}

/* services --------------------- */

.serviceSection {
  background: #5836b5;
}

.wrapperAppContentIDoWork {
  position: relative;
}

.wrapperServices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;
  margin-top: 24px;
}

.servicesCard {
  border-radius: 16px;
  background-color: #1f1340;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  z-index: 10;
}

.servicesCard::before {
  content: "";
  background-image: url("../../assets/square-p-card.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

.wrapperServicesContent {
  z-index: 10;
}

.appContentTitleIDoWork {
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
}

.appContentTitleIDoWork span {
  color: #db40ff;
}

.appContentTitleIDoWorkSubTitle {
  color: #ffffff;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.labelServicesCard {
  color: #ffffff;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  z-index: 10;
}

/* benefitsSection--------------- */

.benefitsSection {
  background: linear-gradient(#5836b5, #1f1340);
  padding-bottom: 120px;
  position: relative;
}

.benefitsWord {
  color: #a58ce99a;
  display: block;
  font-size: 180px;
  font-family: var(--font-family);
  font-weight: 800;
  position: absolute;
  top: 200px;
  right: -45px;
  opacity: 0.1;
}

.wrapperMobileFeatureAnimation {
  padding: 48px 0px;
}

.featureAnimation {
  height: 400px;
}

.featureAnimation img {
  width: 100%;
  height: 100%;
}

.wrapperBenefits {
  margin-top: 48px;
}

.wrapperBenefitsTitle {
  max-width: 70ch;
}

.youGetDescription {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.wrapperCardBenefits {
  position: relative;
}

.wrapperCardBenefits:not(.wrapperCardBenefits:last-child) {
  margin-bottom: 56px;
}

.benefitsHeader {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.gridList {
  display: grid;
  grid-template-columns: 16px 16px;
  grid-template-rows: 16px 16px;
  gap: 2px;
  position: absolute;
  top: 8px;
  left: -56px;
}

.gridList div {
  border: 1px solid #db40ff;
  border-radius: 2px;
}

.gridList div:last-child {
  border-radius: 2px;
  background: #db40ff;
}

.benefitsSubTitle {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

/* process -------------*/
.processSection {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.contentWave {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.processTitle {
  color: var(--title-dark-color);
}

.processDescription {
  color: var(--title-dark-color);
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.wrapperProcess {
  display: flex;
  gap: 4px;
  margin-top: 24px;
  position: relative;
}

.cardProcess {
  border-radius: 16px;
  background-color: #1f1340;
  padding: 1.5rem;
  position: relative;
  flex: 0 0 400px;
  z-index: 10;
}

.contentCircleBlur {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 100px;
  height: 100px;
}

.contentSvgIDoWork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* footer ///////////////// */

.headerContact {
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.headerContact h4 {
  font-family: var(--title-font);
  font-size: calc(1vw + 1em);
  letter-spacing: var(--letter-spacing);
}

.appContentFooterFormContact {
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh;
  position: relative;
}

.wrapperForm {
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  padding: 4vh 3vw;
  width: 100%;
}

.formContact {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.formContact input {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact textarea {
  background-color: var(--light-prymary-color);
  border: none;
  border-bottom: 2px solid rgb(26, 26, 26);
  font-size: 1.1rem;
  height: 42px;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.formContact input::placeholder,
.formContact textarea::placeholder {
  color: #6d7499;
}

.formContact span {
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.contentButtonSendMsg {
  display: flex;
  justify-content: flex-end;
}

.contentSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  font-family: var(--title-font);
  margin-top: 1vh;
}

@media only screen and (min-width: 860px) {
  .appLeftContentHeroRole {
    justify-content: start;
  }

  .contactButton {
    font-size: var(--text-button-small);
  }

  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: none;
    opacity: 1;
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
    max-width: 100%;
  }

  .lineRightAbout,
  .lineBottomAbout,
  .lineLeftAbout {
    opacity: 0.1;
  }

  .pDescription {
    font-size: 18px;
  }

  .contentCollImg {
    width: 80%;
  }

  .wrapperContentChallenge {
    flex-direction: row;
  }

  .appLeftContentChallenge {
    width: 60%;
  }

  .appRightContentChallenge {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .appRightContentChallengeImg {
    width: 35%;
    height: 100%;
  }

  .wrapperCodeImg {
    width: 70%;
  }

  .wrapperCodeImg img {
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  }

  .wrapperForm {
    width: 80%;
  }

  .socialItem {
    width: 5%;
  }
}

@media only screen and (min-width: 1280px) {
  .appLeftContentHero {
    width: 70%;
  }

  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: block;
  }

  .appContentAboutMeDescription {
    /* border: 1px solid red; */
    flex-direction: row;
    gap: 6rem;
    margin-top: 1rem;
    position: relative;
  }

  .contentCollImg {
    width: 100%;
  }

  .servicesCard {
    height: 300px;
  }

  .wrapperAppBenefits {
    display: flex;
    justify-content: space-between;
    /* gap: 32px; */
  }

  .wrapperBenefits {
    margin-top: 24px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 2224px) {
}
