.wrapperPadding {
  padding: 0vw 5vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.backLayerHero {
  background-color: #1f1340;
  width: 100%;
  height: 2000px;
  position: absolute;
  /* top: 500px; */
}

.appContentHero {
  background: url("../../assets/Grid-hero.png");
  /* background-color: #999d9e; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 0 0 0px 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 40px;
  position: relative;
}

.appContentHero::before {
  content: "";
  background-color: var(--accent-color);
  border-radius: 100%;
  filter: blur(200px);
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  opacity: 0.8;
}

.contentHeroName {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.experiencie {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-size: 39px;
  align-self: flex-end;
  /* margin-top: 1rem; */
  /* position: absolute;
  top: 0;
  right: 0; */
}

.experiencie span {
  color: var(--accent-color);
  font-size: 49px;
  margin-right: 10px;
}

.description {
  align-self: flex-end;
  color: var(--primary-text);
  font-family: var(--font-family);
  font-size: 31px;
}

.heroFooter {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contentHelpyouHero p {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-size: 25px;
  max-width: 18ch;
}

.available,
.contentDescription {
  color: var(--primary-text);
  font-family: var(--font-family);
  position: relative;
}

.available {
  display: flex;
  align-items: center;
  gap: 16px;
}

.available span {
  background-color: #27ae60;
  border-radius: 100px;
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
}

.available span::before {
  content: "";
  background-color: #27ae5f6e;
  border-radius: 100px;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 16px;
  height: 16px;
}

.contentDescription {
  font-size: 31px;
}

.appLeftContentHero {
  /* width: max-content; */
  position: relative;
  z-index: 5;
}

.projectsSection,
.serviceSection,
.benefitsSection {
  padding-top: 200px;
  position: relative;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1440px;
  height: 100%;
}

.role {
  color: var(--primary-text);
  font-size: var(--title-font-hero-size);
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  line-height: 1;
}

.subTitleRole {
  color: var(--primary-text);
  font-size: var(--sub-title-font-size);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  max-width: 50ch;
  line-height: 1.6;
  margin-top: 1rem;
}

.aboutHero {
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 25px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 72px;
  width: fit-content;
}

.contentAboutHeroText {
  display: flex;
  gap: 8px;
  align-items: center;
}

.squareAboutHero {
  border: 1px solid #db40ff;
  border-radius: 2px;
  display: block;
  width: 12px;
  height: 12px;
}

.contentButtonContact {
  display: flex;
  align-self: flex-start;
  position: relative;
  margin-top: 3rem;
}

.link.hero {
  color: #ffffff;
  display: block;
}

/* helpYou ------------------  */

.helpYouSection {
  /* background-color: var(--title-dark-color); */
  background: #5836b5;

  position: relative;
  padding-top: 200px;
  padding-bottom: 80px;
}

.wordSquare {
  background-color: var(--accent-color);
  display: block;
  width: 100px;
  height: 100px;
}

.helpYouSection p {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-size: 119px;
  font-weight: 600;
  /* width: fit-content; */
}

.contentSquareWord {
  display: flex;
  align-items: center;
  width: 100%;
}

.contentWordsOnlinePresence {
  display: flex;
  width: 100%;
}
.contentWordsOnlinePresence:nth-child(2) {
  max-width: 1200px;
  justify-content: flex-end;
}
.contentWordsOnlinePresence:nth-child(3) {
  max-width: 1200px;
  justify-content: flex-end;
}
.contentWordsOnlinePresence:nth-child(4) {
  max-width: 1200px;
  justify-content: flex-end;
}
.contentWordsOnlinePresence:nth-child(5) {
  max-width: 1600px;
  justify-content: flex-end;
}

/* projects ------------------  */

.projectsSection {
  background: linear-gradient(#1f1340, #5836b5);
  position: relative;
}

.appContentPersonalProjectsHeader {
  color: var(--primary-text);
}
/* wrapper projects */
.contentProject {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;
  position: relative;
  margin-top: 24px;
}

.titleSections {
  color: #ffffff;
  font-size: var(--title-font-section-size);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  opacity: 0.9;
  font-weight: 600;
}

/* services --------------------- */

.serviceSection {
  background: #5836b5;
}

.wrapperAppContentIDoWork {
  position: relative;
}

.wrapperServices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;
  margin-top: 24px;
}

.servicesCard {
  border-radius: 16px;
  background-color: #1f1340;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  z-index: 10;
}

.servicesCard::before {
  content: "";
  background-image: url("../../assets/square-p-card.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

.wrapperServicesContent {
  z-index: 10;
}

.appContentTitleIDoWork {
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
}

.appContentTitleIDoWork span {
  color: #db40ff;
}

.appContentTitleIDoWorkSubTitle {
  color: #ffffff;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  line-height: 1.6;
  /* font-size: 18px; */
}

.labelServicesCard {
  color: #ffffff;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  z-index: 10;
}

/* benefitsSection--------------- */

.benefitsSection {
  background: linear-gradient(#5836b5, #1f1340);
  padding-bottom: 120px;
  position: relative;
}

.benefitsWord {
  color: #a58ce99a;
  display: block;
  font-size: 180px;
  font-family: var(--font-family);
  font-weight: 800;
  position: absolute;
  top: 200px;
  right: -45px;
  opacity: 0.1;
}

.wrapperMobileFeatureAnimation {
  padding: 48px 0px;
}

.featureAnimation {
  height: 400px;
}

.featureAnimation img {
  width: 100%;
  height: 100%;
}

.wrapperBenefits {
  margin-top: 48px;
}

.wrapperBenefitsTitle {
  max-width: 70ch;
}

.youGetDescription {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.wrapperCardBenefits {
  position: relative;
}
.wrapperCardBenefitsTitle {
  /* border: 1px solid red; */
  display: flex;
  gap: 16px;
}

.wrapperCardBenefits:not(.wrapperCardBenefits:last-child) {
  margin-bottom: 56px;
}

.benefitsHeader {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.gridList {
  display: grid;
  grid-template-columns: 16px 16px;
  grid-template-rows: 16px 16px;
  gap: 2px;
  margin-top: 8px;
}

.gridListHero {
  display: grid;
  grid-template-columns: 12px 12px;
  grid-template-rows: 12px 12px;
  gap: 2px;
  margin-top: 8px;
}

.gridList div,
.gridListHero div {
  border: 1px solid #db40ff;
  border-radius: 2px;
}

.gridList div:last-child,
.gridListHero div:last-child {
  border-radius: 2px;
  background: #db40ff;
}

.benefitsSubTitle {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

/* process -------------*/
.processSection {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.contentWave {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.processTitle {
  color: var(--title-dark-color);
}

.processDescription {
  color: var(--title-dark-color);
  font-size: 16px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  margin-top: 16px;
}

.wrapperProcess {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  margin-top: 24px;
  position: relative;
}

.cardProcess {
  border-radius: 16px;
  background-color: #1f1340;
  padding: 1.5rem;
  position: relative;
  min-height: 300px;
  z-index: 10;
}

.contentCircleBlur {
  position: absolute;
  top: -25px;
  left: 50%;
  width: 100px;
  height: 100px;
}

.contentSvgIDoWork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* footer ///////////////// */

.headerContact {
  text-align: center;
  padding: 3vh;
  padding-bottom: 5vh;
}

.headerContact h4 {
  font-family: var(--title-font);
  font-size: calc(1vw + 1em);
  letter-spacing: var(--letter-spacing);
}

.appContentFooterFormContact {
  display: flex;
  justify-content: center;
  padding: 20vh 0 10vh;
  position: relative;
}

.wrapperForm {
  background-color: var(--light-prymary-color);
  border-radius: 14px;
  padding: 4vh 3vw;
  width: 100%;
}

.formContact span {
  font-family: var(--title-font);
  margin-bottom: 1vh;
}

.contentButtonSendMsg {
  display: flex;
  justify-content: flex-end;
}

.contentSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8vh;
}

.socialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.socialItem img {
  width: 100%;
  height: 100%;
}

.labelSocial {
  font-family: var(--title-font);
  margin-top: 1vh;
}

@media only screen and (min-width: 860px) {
  .contentProject {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .appLeftContentHeroRole {
    justify-content: start;
  }

  .contactButton {
    font-size: var(--text-button-small);
  }

  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: none;
    opacity: 1;
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
    max-width: 100%;
  }

  .lineRightAbout,
  .lineBottomAbout,
  .lineLeftAbout {
    opacity: 0.1;
  }

  .pDescription {
    font-size: 18px;
  }

  .contentCollImg {
    width: 80%;
  }

  .wrapperContentChallenge {
    flex-direction: row;
  }

  .appLeftContentChallenge {
    width: 60%;
  }

  .appRightContentChallenge {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .appRightContentChallengeImg {
    width: 35%;
    height: 100%;
  }

  .wrapperCodeImg {
    width: 70%;
  }

  .wrapperCodeImg img {
    filter: drop-shadow(1px 5px 1px rgba(27, 16, 54, 0.144));
  }

  .wrapperForm {
    width: 80%;
  }

  .socialItem {
    width: 5%;
  }

  .wrapperProcess {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1280px) {
  .appRightContentHero {
    display: flex;
  }

  .heroImg {
    display: block;
  }

  .appContentAboutMeDescription {
    /* border: 1px solid red; */
    flex-direction: row;
    gap: 6rem;
    margin-top: 1rem;
    position: relative;
  }

  .contentCollImg {
    width: 100%;
  }

  .servicesCard {
    height: 300px;
  }

  .wrapperAppBenefits {
    display: flex;
    justify-content: space-between;
    /* gap: 32px; */
  }

  .wrapperBenefits {
    margin-top: 24px;
    max-width: 500px;
  }

  .wrapperProcess {
    /* grid-template-columns: 1fr 1fr; */
    grid-auto-flow: column;
  }

  .cardProcess {
    width: 400px;
  }
}

@media only screen and (min-width: 2224px) {
}
