:root {
  --body-color: #ffffff;
  --white-color: #ffffff;
  --transparent-color: rgba(255, 255, 255, 0);
  --primary-color: #7c4dff;
  --light-prymary-color: red;
  --light-prymary-color-hero: rgb(124, 77, 255, 0.7);
  --dark-primary-color: #303f9f;
  --accent-color: #db40ff;
  --light-accent-color: #bea6ff;
  --title-dark-color: #1f1340;
  --primary-text: #ffffff;
  --title-font-hero-size: clamp(50px, 10vw, 78px);
  --title-font-section-size: clamp(32px, 10vw, 62px);
  --sub-title-font-size: clamp(1rem, 10vw, 3rem);
  --paragraph-font-size: clamp(16px, 2vw, 18px);
  --text-button-small: calc(1vw + 0.3em);
  --text-button-big: calc(1vw + 0.8em);
  --font-family: "Poppins", sans-serif;
  --letter-spacing: 1px;
  --line-height: 160%;
  --line-height-list: 200%;
  /* space */
  --section-header-spaces: 20vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  /* background: #1f1340; */
  /* background: red; */
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  z-index: 100;
}

li {
  list-style: none;
}

.App {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
