.wrapperContentHero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  place-items: center;
  padding-top: 6rem;
}

.wrapperPadding {
  border-radius: 0px 0px 100px 0px;
  background: linear-gradient(#7c4dff, #1f1340 60%);
  display: flex;
  justify-content: center;
  position: relative;
  padding: 88px 5vw;
  margin-bottom: 120px;
  overflow: hidden;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: relative;
}

.appLeftContentDescription {
  max-width: 75ch;
}

.descriptionHeader {
  color: var(--primary-text);
  font-size: var(--title-font-hero-size);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

.description {
  color: var(--primary-text);
  font-size: 1rem;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  margin-top: 8px;
  max-width: 75ch;
}

.description + .description {
  margin-top: 16px;
}

.contentAboutPhoto {
  border-radius: 16px;
  transform: rotate(6deg);
  line-height: 0;
  position: relative;
  overflow: hidden;
}

.contentAboutPhoto img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 860px) {
  .wrapperContentHero {
    grid-template-columns: 1fr 400px;
    place-items: initial;
  }
}
