.App {
  /* background-color: var(--body-color);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif; */
  /* overflow: auto; */
}

.appLeftContentHero {
  /* border: 1px solid red; */
  /* max-width: 800px; */
  /* padding-top: 2rem; */
}

.appRightContentHero {
  /* border: 1px solid red; */
  /* width: 60%; */
  padding-top: 1rem;
}

.wrapperContentHero {
  /* border: 1px solid red; */
  padding-top: 1rem;
  /* min-height: 100vh; */
}

.wrapperPadding {
  /* border: 1px solid purple; */
  padding: 0 5vw;
  display: flex;
  justify-content: center;
}

.wrapperMaxWidth {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  position: relative;
}

.wrapperPadding:not(.wrapperPadding:first-child) {
  margin-top: 8rem;
}

.wrapperContentHero {
  /* border: 1px solid red; */
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
}

.appLeftContentHeroRole {
  display: flex;
  flex-direction: column;
  height: 50%;
  position: relative;
}

.role {
  color: #292929;
  /* color: #ffffff; */
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
}

.roleSpan {
  /* border: 1px solid red; */
  font-family: var(--title-font);
  text-decoration: line-through;
}

.subTitleRole {
  color: #292929;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  max-width: 500px;
}

.wrapperAboutMe {
  /* border: 1px solid blue; */
  margin-top: 7rem;
}

.appContentAboutMe {
  /* background: #292929; */
  /* margin-top: 3rem; */
  /* padding-top: 1rem; */
  position: relative;
  /* overflow: hidden; */
  /* z-index: 50; */
}

.appContentAboutMeHeader {
  position: relative;
}

.appContentAboutMeTitle {
  position: relative;
  width: 50%;
  color: var(--primary-text);
}

.appContentAboutMeTitle::before {
  /* content: ""; */
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  right: -40%;
  width: 100%;
  height: 2px;
}

.spanName {
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.text {
  opacity: 1;
}

.h2Name {
  font-size: var(--sub-title-font-size);
  font-family: var(--title-font);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  padding-left: 15vw;
  margin-top: 0.5rem;
}

.appContentAboutMeDescription {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;
  margin-top: 1rem;
  position: relative;
}

.wrapperAboutMeDescription {
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
  position: relative;
  width: 100%;
  max-width: 70ch;
}

.wrapperAboutPhoto {
  /* border: 1px solid red; */
  min-height: 500px;
}

.contentAboutPhoto img {
  width: 100%;
  height: 100%;
}

.contentColl {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  position: relative;
  /* width: 35%; */
}

.contentCollImg {
  /* border: 1px solid blue; */
  /* display: flex; */
  /* width: 35%; */
}

.contentColl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lineRightAbout,
.lineBottomAbout,
.lineLeftAbout {
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  opacity: 0;
}

.lineRightAbout,
.lineLeftAbout {
  width: 3px;
}

.lineBottomAbout {
  right: -5%;
  bottom: 4%;
  width: 70%;
  height: 3px;
  opacity: 0;
}

.lineRightAbout {
  top: -1%;
  right: -2%;
  height: 60%;
}

.lineLeftAbout {
  top: 15%;
  left: -2%;
  height: 60%;
}

.pDescription.subTitleDescription {
  font-weight: 600;
}

.pDescription + .pDescription {
  /* border: 1px solid red; */
  margin-top: 1rem;
}

.pDescription {
  max-width: 75ch;
  color: var(--primary-text);
  font-size: var(--paragraph-font-size);
  font-family: var(--title-font);
  line-height: 180%;
  letter-spacing: var(--letter-spacing);
}

.h3Description {
  font-family: var(--title-font);
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  margin-top: 10vh;
  text-align: left;
}

.wrapperAppContentIDoWork {
  /* border: 2px solid red; */
  /* padding: 3rem 0 4rem 0; */
  position: relative;
  backdrop-filter: blur(50px);
}

.contentCircleBlur {
  /* border: 2px solid red; */
  position: absolute;
  top: -50px;
  left: 55%;
  width: 100px;
  height: 100px;
}

.circleBlur {
  background-color: #7c4dff;
  border-radius: 50%;
  display: block;
  /* position: absolute;
  top: -230px;
  left: 20%; */
  width: 100px;
  height: 100px;
  /* opacity: 0; */
}

.circleBlurGrey {
  /* background-color: #e7e8ef; */
  border-radius: 0%;
  position: absolute;
  top: 0;
  left: 0;
}

.spanIDoWorkName {
  color: #292929;
  font-size: var(--title-font-size);
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
  position: relative;
  z-index: 10;
}

.contentSvgIDoWork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.appContentIDoWork {
  /* border: 1px solid red; */
  margin-top: 1rem;
  position: relative;
  z-index: 10;
}

.appContentIDoWork:last-child {
  margin-top: 16px;
}

.appContentTitleIDoWork {
  /* border: 1px solid rgb(38, 55, 240); */
  color: #292929;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 8px;
}

.appContentTitleIDoWorkSubTitle {
  color: #292929;
  font-family: var(--title-font);
  letter-spacing: var(--letter-spacing);
}

.footerDescription {
  font-weight: bold;
  letter-spacing: 2px;
}

@media only screen and (min-width: 860px) {
  .contentCollImg {
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  .appContentAboutMeDescription {
    /* border: 1px solid rgb(47, 64, 224); */
    flex-direction: row;
    gap: 6rem;
    margin-top: 1rem;
  }

  .wrapperContentHero {
    grid-template-columns: 1fr 1fr;
  }

  .contentColl {
    /* border: 1px solid red; */
    /* position: absolute; */
    /* top: -20%; */
    /* right: 0; */
    width: 40%;
    z-index: 120;
  }
}
